@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");

:root {
  --primary: #f1356d;
}

* {
  margin: 0;
  font-family: "Quicksand";
  color: #333;
}

/*---------LOGIN---------*/

.login-root {
  display: flex;
  height: 100vh;
  background: #d9d9d9;
  font-family: Arial, sans-serif;
}

/* LEFT SIDE */
.login-left {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #000000;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
}

.login-left img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* RIGHT SIDE */
.login-right {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* FORM WRAPPER */
.login-form-wrapper {
  width: 350px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

/* INPUT */
.input-group {
  position: relative;
}

.input {
  width: 100%;
  border: none;
  border-bottom: 1px solid #555;
  background: transparent;
  padding: 10px 0;
  font-size: 16px;
  outline: none;
  color: #333;
}

.input::placeholder {
  color: #9aa3af;
}

/* PASSWORD ICON */
.password-group {
  display: flex;
  align-items: center;
}

.eye-icon {
  position: absolute;
  right: 0;
  cursor: pointer;
  font-size: 18px;
}

/* FORGOT PASSWORD */
.forgot-password {
  text-align: right;
  font-size: 14px;
  color: #333;
  cursor: pointer;
}

/* BUTTON */
.login-btn {
  margin-top: 20px;
  padding: 12px 0;
  border: none;
  border-radius: 12px;
  background: #8b8f97;
  color: black;
  font-size: 22px;
  font-weight: bold;
  cursor: pointer;

  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
}

.login-btn:hover {
  opacity: 0.9;
}

/*---------NAVBAR---------*/

.navbar {
  padding: 20px;
  display: flex;
  align-items: center;
  max-width: 600px;
  margin: 0 auto;
  border-bottom: 1px solid #f2f2f2;
}

.navbar h1 {
  color: #f1356d;
}

.navbar .links {
  margin-left: auto;
}

.navbar a {
  margin-left: 16px;
  text-decoration: none;
  padding: 6px;
}

.navbar a.active {
  color: white;
  background-color: #f1356d;
  border-radius: 8px;
}

.navbar a:hover {
  color: #f1356d;
}

.navbar a.active:hover {
  color: white;
}

/*---------CONTENT---------*/

.content {
  max-width: 600px;
  margin: 40px auto;
  padding: 20px;
}

/*---------BREADCRUMBS---------*/

.breadcrumbs {
  margin: 20px auto;
}

.breadcrumbs > * {
  display: inline-block;
  margin-right: 10px;
}
.crumb a {
  text-decoration: none;
  font-size: 18px;
}

.breadcrumbs .crumb:after {
  content: ">";
  margin-left: 10px;
}

.breadcrumbs .crumb:last-child:after {
  display: none;
}

/*---------HOME---------*/

.home {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

div .message {
  font-size: 30px;
}

.blog-list {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
  gap: 10px;
}

.blog-preview {
  border: 1px solid #f2f2f2;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
}

.blog-preview a {
  display: inline-block;
  text-decoration: none;
}

.blog-preview h2 {
  margin-bottom: 10px;
}

.blog-preview button {
  margin-top: 10px;
}

.blog-preview:hover {
  border-color: #f1356d;
  box-shadow: 10px 10px 20px rgba(241, 53, 109, 0.2);
  width: 100%;
}

/*---------BLOG DETAILS---------*/

.blog-details {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.blog-details article {
  border: 1px solid #f2f2f2;
  padding: 20px;
  border-radius: 5px;
}

/*---------CREATE---------*/

.create {
  max-width: 400px;
  margin: 0 auto;
  text-align: center;
}

.create label {
  text-align: left;
  display: block;
}

.create h2 {
  font-size: 20px;
  color: rgb(223, 27, 27);
  margin-bottom: 30px;
}

.create input,
.create textarea,
.create select {
  width: 100%;
  padding: 6px 12px;
  margin: 10px 0;
  border: 1px solid #ddd;
  box-sizing: border-box;
  display: block;
}

.create button {
  background-color: #f1356d;
  color: white;
  border: none;
  padding: 8px;
  border-radius: 8px;
  cursor: pointer;
}

/*---------NotFound---------*/

.not-found-layout {
  display: flex;
  padding: 120px;
  text-align: center;
  justify-content: center;
}

/*---------Help---------*/

.help-layout nav {
  display: flex;
  margin: 20px;
  align-items: flex-start;
  justify-content: space-evenly;
  gap: 20px;
}

.help-layout nav a {
  padding: 10px;
  border: 2px solid white;
  border-radius: 4px;
  text-decoration: none;
}

.help-layout nav a:hover {
  border-color: var(--primary);
}

.help-layout nav a.active {
  background: var(--primary);
}

.faq .question {
  background: rgba(0, 0, 0, 0.2);
  padding: 5px 20px;
  border-radius: 4px;
  margin: 20px 0;
}

.contact-form {
  margin-top: 20px;
}

.contact-form input,
.contact-form textarea {
  width: 300px;
  padding: 6px 12px;
  margin: 10px 0;
  border: 1px solid #ddd;
  box-sizing: border-box;
  display: block;
}
.contact-form input,
.contact-form textarea,
.contact-form span {
  display: block;
}

.contact-form button {
  background-color: #f1356d;
  color: white;
  border: none;
  padding: 8px;
  border-radius: 8px;
  cursor: pointer;
}
